doctype html
html
  head
    title Quick Dance Studio
    block scripts
    block style
  body
    nav#navbar
      div#logo
        img(src="/static/Images/logo1.jpg")
        | QDS
      ul
        li #[a(href='/') Home]
        li #[a(href='/') Image Gallery]
        li #[a(href='/') Classes Schedule]
        li #[a(href='/') About us]
        li #[a(href='/contact') Contact]
    block content
    section#footer
        | Copyright 2020 ©  |  quickdancestudio.com | All Right Reserved    