@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');

*{
  margin : 0px;
  padding : 0px;
  font-family: 'Seaweed Script', cursive;
  box-sizing: border-box;
  /* height: 100%; */
}
#logo{
  display: flex;
  align-items: center;
  color: wheat;
  margin: 0 20px;
  /* flex-direction: row; */
}
#logo img{
  filter: invert(1);
  background-color: rgb(124, 26, 26);
  height: 42px;
  border-radius: 22px;
  margin-right: 12px;
}
#navbar {
  display: flex;
background-color:rgb(124, 26, 26);
/* padding: 0px 28px; */
align-items: center;
height: 80px;
}


#navbar ul{
  display: flex;
  align-items: center;
  width: 60%;
  /* border: 2px solid black; */
  /* margin-left: 420px; */
}
#navbar ul li{
  list-style: none;
}
#navbar li a{
  text-decoration: none;
  padding: 23px 35px;
  color: wheat;
  font-size: 23px ;
}

#introSection{
height: 500px;
/* background: chocolate; */
background: url('https://cdn.pixabay.com/photo/2016/05/06/17/06/ballerinas-1376250_960_720.jpg') center center/cover no-repeat;
opacity: 1;
color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
#introSection div.quick{
  font-size: 90px;
}
#introSection div.qoute{
  font-size: 40px;
}
#mission{
  height: 380px;
  width: 100%;
  margin: auto;
  background-color: burlywood;
}
#mission div.p {
  text-align: center;
  padding: 15px;
  font-size: 2.5rem;
}

.card {
  border: 2px solid black;
  border-radius: 12px;
  width: 30%;
  height: 230px;
  display: inline-block;
margin: 22px 20px;
text-align: center;
background-color: wheat;
}

.card p{
  padding: 9px;
  font-size: 36px;
}

.card-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.card-image{
  height: 90px;
  padding: 0 14px;
  margin: 9px 9px;
}
.card-image img{
  height: inherit;
}
.card-content p{
  font-size: 20px;
  
}
#sponsorSection{
height: 250px;
background-color: rgba(122, 83, 55, 0.26);
}

#sponsorSection h3{
  text-align: center;
  padding-top: 21px;
  font-size: 32px;
  
}
#sponsor{
  height: 120px;
  max-width: 1000px;
  margin: auto;
}
.spImage{
  height: 110px;
  margin-left: 258px;
  padding-top: 30px;
}
#footer{
height: 35px;
background-color: black;
color: white;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Times New Roman', Times, serif;
}

/* @media only screen and (max-width: 1300px) {
  #navbar li a{
    padding: 23px 20px;
  }
} */
/* @media only screen and (max-width: 1200px) {
  .card{
    width: 29%;
  }
  .card-content p{
    font-size: 16px;
  }
}
@media only screen and (max-width: 1050px) {
  #navbar li a{
    font-size: 19px;
  }
} */
@media only screen and (min-width: 600px) {
  #navbar ul{
    margin-left: 40px;
    width: 100%;
  }
  #navbar ul a{
    font-size: 28px;
  }
  #mission{
    height: auto;
  }
  #mission div.p{
    font-size: 5rem;
  }
  .card{
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: 500px;
    display: block;
  }
  .card p {
    font-size: 4rem;
    margin: 20px 10px;
  }
  .card-image{
    height: 150px;
  }
  .card-image img{
    height: inherit;
  }
  #sponsorSection{
    height: auto;
  }
  #sponsorSection h3{
    font-size: 4rem;
  }
  #sponsors .spImage{
    margin: 10px 84px;
    height: 170px;
  }
  #footer{
    font-size: 2rem;
    padding: 41px 10px;  }
}

